@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Forwarding Managament System</h1>
    <p>Here will be added some pictures and text </a>.</p>
</div>
