
@{
    ViewData["Title"] = "Requests list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Reports</h1>

<ul>
    <li class="">
        <a id="white" class="" href="/Report/NotPayedInvoices">Not payed invoices</a>
    </li>
    <li class="">
        <a id="white" class="" href="/Report/PayedInvoices">Payed invoices</a>
    </li>
    <li class="">
        <a id="white" class="" href="/Report/RequestStatusDuration">Request status duration</a>
    </li>
</ul>