@model List<FMS.Services.Models.Report.RequestStatudDurationServiceModel>;
@{
    ViewData["Title"] = "RequestStatusDuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid container-decor text-center">
    <h1>Request Status Duration</h1>
</div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Request number</th>
            <th>Status code</th>
            <th>Status name</th>
            <th>Duration</th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Request.Number</td>
                <td> @item.Status.Code </td>
                <td> @item.Status.Name </td>
                <td> @item.Duration.ToString() </td>
            </tr>
        }
</table>
