@model FMS.Services.Models.Request.CurtomerRequestModel;
@{
    ViewData["Title"] = "NewCustomerRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New customer request</h1>

<!-- Форма за създаване на Request-и от клиент. Без регистрация.-->
<form asp-controller="Request" asp-action="Create" method="post">
    <!-- Location from-->
    <div>
        <h3>From where</h3>
        <div class="d-inline">
            <label asp-for="FromCountryID">From country: *</label>
            <select id="FromCountryIdDropDown"
                    asp-for="FromCountryID"
                    asp-items="@(new SelectList(Model.countryList,"ID", "Name"))">
                <option value="0">--Select country--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="FromCityID">From city: *</label>
            <select id="FromCityIdDropDown"
                    asp-for="FromCityID">
                <option value="0">--Select city--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="FromPostcodeID">From postcode: *</label>
            <select id="FromPostcodeIDDropDown"
                    asp-for="FromPostcodeID">
                <option value="0">--Select city--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="FromAddress">FromAddress: *</label>
            <input asp-for="FromAddress" />
        </div>
    </div>
    <!-- Location to-->
    <div>
        <h3>To where</h3>
        <div class="d-inline">
            <label asp-for="ToCountryID">To country: *</label>
            <select id="ToCountryIdDropDown"
                    asp-for="ToCountryID"
                    asp-items="@(new SelectList(Model.countryList,"ID", "Name"))">
                <option value="0">--Select country--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="ToCityID">To city: *</label>
            <select id="ToCityIdDropDown"
                    asp-for="ToCityID">
                <option value="0">--Select city--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="ToPostcodeID">To postcode: *</label>
            <select id="ToPostcodeIDDropDown"
                    asp-for="ToPostcodeID">
                <option value="0">--Select city--</option>
            </select>
        </div>
        <div class="d-inline">
            <label asp-for="ToAddress">ToAddress: *</label>
            <input asp-for="ToAddress" />
        </div>
    </div>
    <!-- Load info-->
    <div>
        <h3>Load info</h3>
        <div class="d-inline">
            <label asp-for="LoadName">Load short description: *</label>
            <input asp-for="LoadName" />
        </div>
        <div class="d-inline">
            <label asp-for="LoadComment">Comment, short description, aditional info</label>
            <textarea asp-for="LoadComment" type="text"></textarea>
        </div>
        <div>
            <label asp-for="PackageTypeID">Package type: *</label>
            <select id="PackageTypeDDL"
                    asp-for="PackageTypeID">
                <option value="0">--Select packkage type--</option>
            </select>
        </div>
        <div>
            <label asp-for="PackageCount">Package count: *</label>
            <input asp-for="PackageCount" />
        </div>
        <div class="d-inline">
            <label asp-for="Length">Length: </label>
            <input asp-for="Length" />
        </div>
        <!--    PROPS   -->
        <div class="d-inline">
            <label asp-for="Width">Width: </label>
            <input asp-for="Width" />
        </div>
        <div class="d-inline">
            <label asp-for="Height">Height: </label>
            <input asp-for="Height" />
        </div>
        <div class="d-inline">
            <label asp-for="WeightBrut">WeightBruto: </label>
            <input asp-for="WeightBrut" />
        </div>
        <div class="d-inline">
            <label asp-for="WeightNet">WeightNet: </label>
            <input asp-for="WeightNet" />
        </div>
        <div class="d-inline">
            <label asp-for="Lademeter">Lademeter: </label>
            <input asp-for="Lademeter" />
        </div>
        <div class="d-inline">
            <label asp-for="StockType">StockType: </label>
            <input asp-for="StockType" />
        </div>
    </div>
    <!--    Customer info   -->
    <div class="d-inline">
        <div class="d-inline">
            <label asp-for="FirstName">FirstName: *</label>
            <input asp-for="FirstName" />
        </div>
        <div class="d-inline">
            <label asp-for="LastName">LastName: *</label>
            <input asp-for="LastName" />
        </div>
        <div class="d-inline">
            <label asp-for="PhoneNumber">PhoneNumber: *</label>
            <input asp-for="PhoneNumber" />
        </div>
        <div class="d-inline">
            <label asp-for="CompanyName">CompanyName: *</label>
            <input asp-for="CompanyName" />
        </div>
    </div>

    <div>
        <button type="submit" class="btn bz-btn-info">Create</button>
    </div>
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            //From location

            var fromCountryDDL = $("#FromCountryIdDropDown");
            var fromCityDDL = $("#FromCityIdDropDown");
            var fromPostcodeDDL = $("#FromPostcodeIDDropDown");

            fromCityDDL.prop('disabled', true);
            fromPostcodeDDL.prop('disabled', true);

            //On From Country dropdown change
            fromCountryDDL.change(function () {
                if ($(this).val() == "0") {
                    fromCityDDL.prop('disabled', true)
                    fromCityDDL.val('0');
                    fromPostcodeDDL.prop('disabled', true)
                    fromPostcodeDDL.val('0');
                }
                else {
                    fromCityDDL.prop('disabled', false)
                    $.ajax({
                        url: "/api/GetCities/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            fromCityDDL.empty();
                            fromCityDDL.append($('<option/>', { value: '0', text: '--Select city--' }));
                            $(data).each(function (index, item) {
                                fromCityDDL.append($('<option/>', { value: item.id, text: item.name }));
                            })
                        }
                    });
                }
            });

            //On From City Dropdown change
            fromCityDDL.change(function () {
                if ($(this).val() == "0") {
                    fromPostcodeDDL.prop('disabled', true)
                    fromPostcodeDDL.val('0');
                } else {
                    fromPostcodeDDL.prop('disabled', false)
                    $.ajax({
                        url: "/api/GetPostcode/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            fromPostcodeDDL.empty();
                            fromPostcodeDDL.append($('<option/>', { value: "0", text: '--Select postcode' }));
                            $(data).each(function (index, item) {
                                fromPostcodeDDL.append($('<option/>', { value: item.id, text: item.code }))
                            });
                        }
                    })
                }
            });

            //To location
            var toCountryDDL = $("#ToCountryIdDropDown");
            var toCityDDL = $("#ToCityIdDropDown");
            var toPostcodeDDL = $("#ToPostcodeIDDropDown");

            toCityDDL.prop('disabled', true);
            toPostcodeDDL.prop('disabled', true);

            //On country change!
            toCountryDDL.change(function () {
                if ($(this).val() == "0") {
                    toCityDDL.prop('disabled', true);
                    toCityDDL.val('0');
                    toPostcodeDDL.prop('disabled', true);
                    toPostcodeDDL.val('0');
                } else {
                    $.ajax({
                        url: "/api/GetCities/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            toCityDDL.prop('disabled', false);
                            toCityDDL.empty();
                            toCityDDL.append($('<option/>', { value: '0', text: '--SelectCity--' }));
                            $(data).each(function (index, item) {
                                toCityDDL.append($('<option/>', { value: item.id, text: item.name }));
                            })
                        }
                    })
                }

            });

            //On city change!
            toCityDDL.change(function () {
                if ($(this).val() == "0") {
                    toPostcodeDDL.prop('disable', true);
                    toPostcodeDDL.val('0');
                } else {
                    $.ajax({
                        url: "/api/GetPostcode/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            toPostcodeDDL.prop('disabled', false);
                            toPostcodeDDL.empty();
                            toPostcodeDDL.append($('<option/>', { value: '0', text: '--Select postcode--' }));
                            $(data).each(function (index, item) {
                                toPostcodeDDL.append($('<option/>', { value: item.id, text: item.code }));
                            });
                        }
                    })
                }
            });

            //PackageTypeDropDown
            var packageTypeDDL = $("#PackageTypeDDL")
            $.ajax({
                url: "/api/GetPackageTypes",
                method: "GET",
                success: function (data) {
                    packageTypeDDL.empty();
                    packageTypeDDL.append($('<option/>', { value: '0', text: '--Select package type--' }));
                    $(data).each(function (index, item) {
                        packageTypeDDL.append($('<option/>', { value: item.id, text: item.name }));
                    });
                }
            });
        });
    </script>
}