@model FMS.Services.Models.Request.CurtomerRequestModel;
@{
    ViewData["Title"] = "New Customer Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="page request-page">
        <section class="request-form dark bg-grey">
                <div class="block-heading container-fluid container-decor">
                    <h2>New customer request</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form class="p-3 mb-2 bg-grey" asp-controller="Request" asp-action="Create" method="post">
                    <div class="card-details">
                        <!-- Location from-->
                        <div class="form-row">
                            <div class="col-sm-12">
                                <h3 class="title">From where</h3>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FromCountryID">From country: *</label>
                                <select class="form-control" id="FromCountryIdDropDown" required
                                        asp-for="FromCountryID"
                                        asp-items="@(new SelectList(Model.countryList,"ID", "Name"))">
                                    <option value="" selected disabled>--Select country--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FromCityID">From city: *</label>
                                <select class="form-control" id="FromCityIdDropDown" required
                                        asp-for="FromCityID">
                                    <option value="" selected disabled>--Select city--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FromPostcodeID">From postcode: *</label>
                                <select class="form-control" id="FromPostcodeIDDropDown" required
                                        asp-for="FromPostcodeID">
                                    <option value="" selected disabled>--Select postcode--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FromAddress">FromAddress: *</label>
                                <input class="form-control" required asp-for="FromAddress" />
                            </div>
                        </div>
                        <br />
                        <!-- Location to-->
                        <div class="form-row">
                            <div class="col-sm-12">
                                <h3 class="title">To where</h3>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ToCountryID">To country: *</label>
                                <select class="form-control" id="ToCountryIdDropDown" required
                                        asp-for="ToCountryID"
                                        asp-items="@(new SelectList(Model.countryList,"ID", "Name"))">
                                    <option value="" selected disabled>--Select country--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ToCityID">To city: *</label>
                                <select class="form-control" id="ToCityIdDropDown" required
                                        asp-for="ToCityID">
                                    <option value="" selected disabled>--Select city--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ToPostcodeID">To postcode: *</label>
                                <select class="form-control" id="ToPostcodeIDDropDown" required
                                        asp-for="ToPostcodeID">
                                    <option value="" selected disabled>--Select postcode--</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ToAddress">ToAddress: *</label>
                                <input class="form-control" required asp-for="ToAddress" />
                            </div>
                        </div>
                        <br />
                        <!-- Load info-->
                        <div class="form-row">
                            <div class="col-sm-12">
                                <h3 class="title">Load info</h3>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LoadName">Load short description: *</label>
                                <input class="form-control" required asp-for="LoadName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PackageTypeID">Package type: *</label>
                                <select class="form-control" id="PackageTypeDDL" required
                                        asp-for="PackageTypeID">
                                    <option value="" selected disabled>--Select packkage type--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="PackageCount">Package count: *</label>
                                <input class="form-control"  type="number" min="0" asp-for="PackageCount" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="LoadComment">Comment, short description, aditional info</label>
                                <textarea class="form-control" asp-for="LoadComment" type="text"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="title"></h3>
                        </div>
                        <br />
                        <!--    PROPS   -->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label asp-for="Length">Length: </label>
                                <input class="form-control" asp-for="Length" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Width">Width: </label>
                                <input class="form-control" asp-for="Width" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Height">Height: </label>
                                <input class="form-control" asp-for="Height" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="WeightBrut">WeightBruto: </label>
                                <input class="form-control" asp-for="WeightBrut" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="WeightNet">WeightNet: </label>
                                <input class="form-control" asp-for="WeightNet" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Lademeter">Lademeter: </label>
                                <input class="form-control" asp-for="Lademeter" />
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="StockType">StockType: </label>
                                <input class="form-control" asp-for="StockType" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="title"></h3>
                        </div>
                        <br />
                        <!--    Customer info   -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="FirstName">FirstName: *</label>
                                <input class="form-control" required asp-for="FirstName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastName">LastName: *</label>
                                <input class="form-control" required asp-for="LastName" />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PhoneNumber">PhoneNumber: *</label>
                                <input class="form-control" required asp-for="PhoneNumber" />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="CompanyName">CompanyName: *</label>
                                <input class="form-control" required asp-for="CompanyName" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="title"></h3>
                        </div>
                        <br />
                        <div class="form-row">
                                <button type="submit" class="btn btn-primary" style="width: 100%">Create</button>
                        </div>
                    </div>
                </form>
        </section>
    </main>

@section scripts {
    <script>
        $(document).ready(function () {
            //From location
            var fromCountryDDL = $("#FromCountryIdDropDown");
            var fromCityDDL = $("#FromCityIdDropDown");
            var fromPostcodeDDL = $("#FromPostcodeIDDropDown");

            fromCityDDL.prop('disabled', true);
            fromPostcodeDDL.prop('disabled', true);

            //On From Country dropdown change
            fromCountryDDL.change(function () {
                if ($(this).val() == "0") {
                    fromCityDDL.prop('disabled', true)
                    fromCityDDL.val('0');
                    fromPostcodeDDL.prop('disabled', true)
                    fromPostcodeDDL.val('0');
                }
                else {
                    fromCityDDL.prop('disabled', false)
                    $.ajax({
                        url: "/api/GetCities/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            fromCityDDL.empty();
                            fromCityDDL.append($('<option/>', { value: '0', text: '--Select city--' }));
                            $(data).each(function (index, item) {
                                fromCityDDL.append($('<option/>', { value: item.id, text: item.name }));
                            })
                        }
                    });
                }
            });

            //On From City Dropdown change
            fromCityDDL.change(function () {
                if ($(this).val() == "0") {
                    fromPostcodeDDL.prop('disabled', true)
                    fromPostcodeDDL.val('0');
                } else {
                    fromPostcodeDDL.prop('disabled', false)
                    $.ajax({
                        url: "/api/GetPostcode/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            fromPostcodeDDL.empty();
                            fromPostcodeDDL.append($('<option/>', { value: "0", text: '--Select postcode' }));
                            $(data).each(function (index, item) {
                                fromPostcodeDDL.append($('<option/>', { value: item.id, text: item.code }))
                            });
                        }
                    })
                }
            });

            //To location
            var toCountryDDL = $("#ToCountryIdDropDown");
            var toCityDDL = $("#ToCityIdDropDown");
            var toPostcodeDDL = $("#ToPostcodeIDDropDown");

            toCityDDL.prop('disabled', true);
            toPostcodeDDL.prop('disabled', true);

            //On country change!
            toCountryDDL.change(function () {
                if ($(this).val() == "0") {
                    toCityDDL.prop('disabled', true);
                    toCityDDL.val('0');
                    toPostcodeDDL.prop('disabled', true);
                    toPostcodeDDL.val('0');
                } else {
                    $.ajax({
                        url: "/api/GetCities/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            toCityDDL.prop('disabled', false);
                            toCityDDL.empty();
                            toCityDDL.append($('<option/>', { value: '0', text: '--SelectCity--' }));
                            $(data).each(function (index, item) {
                                toCityDDL.append($('<option/>', { value: item.id, text: item.name }));
                            })
                        }
                    })
                }

            });

            //On city change!
            toCityDDL.change(function () {
                if ($(this).val() == "0") {
                    toPostcodeDDL.prop('disable', true);
                    toPostcodeDDL.val('0');
                } else {
                    $.ajax({
                        url: "/api/GetPostcode/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            toPostcodeDDL.prop('disabled', false);
                            toPostcodeDDL.empty();
                            toPostcodeDDL.append($('<option/>', { value: '0', text: '--Select postcode--' }));
                            $(data).each(function (index, item) {
                                toPostcodeDDL.append($('<option/>', { value: item.id, text: item.code }));
                            });
                        }
                    })
                }
            });

            //PackageTypeDropDown
            var packageTypeDDL = $("#PackageTypeDDL")
            $.ajax({
                url: "/api/GetPackageTypes",
                method: "GET",
                success: function (data) {
                    packageTypeDDL.empty();
                    packageTypeDDL.append($('<option/>', { value: '0', text: '--Select package type--' }));
                    $(data).each(function (index, item) {
                        packageTypeDDL.append($('<option/>', { value: item.id, text: item.name }));
                    });
                }
            });
        });
    </script>
}
