@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a id="white" class="nav-link" asp-area="" asp-controller="Request" asp-action="NewRequestsList">New Requests List</a>
        </li>
        <li>
            <a id="white" class="nav-link" asp-area="" asp-controller="Request" asp-action="AcceptedRequests">Accepted</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a id="white" class="nav-link" asp-area="" asp-controller="Request" asp-action="NewCustomerRequest">Send request</a>
        </li>

    }
</ul>